:root {
  --color1:#b3b3b3;
  --color2:#333333;
  --color3:#2f1628;
  --color4:#e9e8e7;
  --color5:#f9ce78;
  --color6:#e8d8be;
  --color7:#dc2222;
}

body {
    font-family:serif;
}

header {
  text-align:center;
  height:200px;
    
}

#en-tete div {
  display:grid;
    grid-template-columns:4;
    grid-gap:0;
}

#logo button {
    background-color:white;
    border:none;
    color:white;
    width:200px;
    position:absolute;
}

#logo form {
    position:absolute;
}

#logo button:hover {
    cursor:pointer;
}

#logo img {
  height:200px;
}

#logo {
    grid-column:1/4;

}

#consigne {
    grid-column-start:2;
    grid-column-end:3;
    font-family:Verdana;
    color:var(--color7);
}

#timer {
    grid-column:4/4;
}

#timer p {
    position:absolute;
    top:10px;
    right:30px;
}


nav ul {
  list-style-type:none;
  width:100px;
  background-color:var(--color2);
  margin:0;
  padding:0;
}

nav li a {
  display:block;
  text-decoration:none;
  color:var(--color1);
}

nav li a:hover {
  color:var(--color7);
  text-decoration:underline;
}

footer {
  grid-area:footer;
  height:60px;
}
